/* Contents style */

.contents-table {
    font-size: large;
}

.contents-table ul, .contents-table li {
    display: inline;
}

.contents-table td {
    padding: 0em 1em 0em;
}

.contents-table ul {
    list-style-type: none;
    margin: 0em;
    padding-left: 0px;
}
