.. This page is a template for documenting a peripheral support header
.. in libmaple proper (example: source/libmaple/api/adc.rst).
..
.. To use, modify "foo" appropriately, etc.  If a section would be
.. empty (i.e., there are no devices, just register maps) feel free to
.. leave it out.
..
.. It would be nice if, in addition to the base breathe directives,
.. you flesh out sections as appropriate with free-form text that
.. helps the user get their job done.

``foo.h``
=========

Support for Furious Oscillation Ocelots (FOO) peripherals.

.. contents:: Contents
   :local:

Types
-----

.. Docs for register map and device types here

Devices
-------

.. Docs for devices here

Functions
---------

.. Documented, user-facing functions here

Register Map Base Pointers
--------------------------

.. RMBPs here

Register Bit Definitions
------------------------

.. you get the picture
